@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@layer base {
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  input[type="number"] {
    -moz-appearance: textfield;
  }
  input:disabled {
    @apply bg-gray-200 opacity-50 cursor-not-allowed;
  }
}

.box {
  @apply w-12 h-12 rounded-sm border-2 flex justify-center items-center bg-white;
}
.btn {
  @apply hover:bg-gray-200 text-blue-300 border-blue-300;
}
.btn:disabled {
  @apply opacity-50 bg-gray-200  cursor-not-allowed;
}
